body{
  background-color: hsl(0, 100%, 74%);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;


}
h1{
 font-weight: 700;
}
.attribution {
  text-align: center;
}
h4{
  padding: 10px 0;
}
.main{
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}
.description{
  width: 30rem;
margin:auto 0;
}
.form p {
  color: hsl(246, 25%, 77%);
  font-weight: lighter;
  font-size: 0.1rem;
}


.form{
  width :100%;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 6px  #888888;

}
.form-container{
  width: 30%;
}
.form-header{

  margin-bottom: 20px;
  background-color: hsl(248, 32%, 49%);
  width: 100%;

  border-radius: 6px;
  text-align: center;
  box-shadow: 0 6px  #888888;
}
input{
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid ;
  border-radius: 4px;
  box-sizing: border-box;

}

input[type="text"]{
border-color: hsl(248, 32%, 49%);
}
input[type="text"]:checked{
  border-color: hsl(248, 32%, 49%);
}
input[type="submit"]{
  background-color: hsl(154, 59%, 51%);
  border-color: hsl(154, 59%, 51%);
  color: white;
;
}
input[type="submit"]:hover{
  filter:brightness(130%);
  color: #a2a2a2;
}
input[type="email"]{
border-color: hsl(248, 32%, 49%);
}
.form a{
  color:  hsl(0, 100%, 74%);
}
a{
  color: hsl(228, 45%, 44%);
}
