body {
  background-color: hsl(0, 100%, 74%);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.bg-img {
  top: 0;
  left: 0;
  position: fixed;
  z-index: -2;
}

.mobile {
  display: none;
}

h1 {
  font-weight: 700;
}

.attribution {
  text-align: center;
}

h5 {
  padding: 10px 0;
  font-weight: 100;
}

em {
  font-weight: 700;
}

.main {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.description {
  width: 50%;
  margin: auto 0;
  line-height: 2;
}

.services {
  color: hsl(246, 25%, 77%);
  font-weight: lighter;
  font-size: 0.1rem;
}

.form {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 6px rgba(62, 60, 73, 0.3);
  padding: 10px 0;
}

.form-container {
  width: 35%;
}

.form-header {
  margin-bottom: 20px;
  background-color: hsl(248, 32%, 49%);
  width: 100%;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 6px rgba(62, 60, 73, 0.3);
}

.inputs {
  width: 90%;
  padding: 12px 20px;
  margin-top: 12px;
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: hsl(248, 32%, 49%);
}


button {
  background-color: hsl(154, 59%, 51%);
  border-color: hsl(154, 59%, 51%)!important;
  letter-spacing: 2px;
  color: white;
  box-shadow: 0 4px hsl(154, 59%, 40%);
  margin-bottom: 20px;
}

button:hover {
  filter: brightness(110%);
  color: hsl(249, 10%, 26%);
}

.form a {
  color: hsl(0, 100%, 74%);
  font-size: 0.1rem
}

a {
  color: hsl(228, 45%, 44%);
}

.err{
  color: hsl(0, 100%, 74%);
  font-size: 0.05rem;
  text-align: right;
  margin-right: 30px;
}
.err-off  {
  display: none;
}

.err-icon {
  background: url(images/icon-error.svg) no-repeat scroll 5px 5px;
  background-position: right;
  border-color: hsl(0, 100%, 74%);
}


@media (max-width: 375px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .mobile {
    display: block;
    width: 100%;
  }

  .desktop {
    display: none;
  }

  .form-container {
    width: 80%
  }

  .description {
    text-align: center;
    width: 80%;
  }
}
